* {
  box-sizing: border-box;
  background: none;
  border: none;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: "Monda";
  src: url("../fonts/Monda-Regular.ttf");
}

.container {
  width: 1000px;
  margin: auto;
}

.drop-arrow {
  border-bottom: 1px solid #ababab;
  border-left: 1px solid #ababab;
  height: 7px;
  width: 7px;
  display: inline-block;
  right: 0;
  top: 49%;
  margin: 0px 5px 0 8px;
  transform: translateY(-50%) rotateZ(-45deg);
}

.a {
  background: #EFDECD;
}

.b {
  background: #2E5894;
}

.c {
  background: #36454F;
}

.d {
  background: #1560BD;
}

.e {
  background: #555D50;
}

.f {
  background: #FC8EAC;
}

.g {
  background: #86b71e;
}

.h {
  background: #F0FFF0;
}

.i {
  background: #CD5C5C;
}

.j {
  background: #00A86B;
}

.k {
  background: #E79FC4;
}

.l {
  background: #C4C3D0;
}

.m {
  background: #C04000;
}

.n {
  background: #FFDEAD;
}

.o {
  background: #353839;
}

.p {
  background: #FF99CC;
}

.q {
  background: #A6A6A6;
}

.r {
  background: #E30B5D;
}

.s {
  background: #738276;
}

.t {
  background: #483C32;
}

.u {
  background: #FFDDCA;
}

.v {
  background: #F3E5AB;
}

.w {
  background: #F5F5F5;
}

.x {
  background: #738678;
}

.y {
  background: #FFD300;
}

.z {
  background: #2C1608;
}

.no-img {
  display: inline-block;
  color: white;
  padding: 4px;
  border-radius: 5px;
  margin-right: 5px;
  height: 27px;
  text-align: center;
  letter-spacing: 1px;
  width: 27px;
  font-size: 12px;
  line-height: 15px;
  font-family: Monda;
  text-transform: uppercase;
}

#navbar {
  background: #505050;
  color: white;
  font-family: Calibri;
}

#navbar .flex {
  display: flex;
  justify-content: space-between;
}

#navbar .navbar-module-container {
  display: inline-block;
  padding: 20px 20px;
  margin-right: -4px;
  color: #ababab;
  position: relative;
}

#navbar .navbar-msg-qty {
  color: white;
  font-weight: bold;
}

#navbar #msgContainerNb {
  cursor: pointer;
  position: relative;
}

#navbar #msgContainerNb .popup {
  display: none;
  background: rgba(140, 245, 145, 0.8);
  position: absolute;
  top: 20px;
  left: 10px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

#navbar #msgContainerNb.new .popup {
  display: block;
}

#navbar #msgContainerNb:before {
  content: "";
  background-image: url("../img/icons/msg-ico.png");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -8px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center center;
}

#navbar #userContainerNb {
  cursor: pointer;
}

#navbar .drop-arrow {
  right: 2px;
}

#navbarExtended {
  color: white;
  background: #2babe2;
  font-family: Calibri;
  position: relative;
}

#navbarExtended .wave-hover {
  height: 8px;
  width: 166.67px;
  position: absolute;
  background-repeat: no-repeat;
  bottom: -7px;
  left: 0;
  transition: all .3s ease;
  background-image: url(../img/blue-oval.png);
  background-position: center center;
}

#navbarExtended .flex {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#navbarExtended .extended-module {
  width: 100%;
  padding: 15px 0px 15px;
  text-align: center;
  position: relative;
  align-self: baseline;
  cursor: pointer;
}

#navbarExtended .extended-module img {
  display: inline-block;
  height: 20px;
  margin: 0 5px 0px 0;
  vertical-align: middle;
}

#navbarExtended .extended-module.new .order-popup {
  background: #f43939;
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  padding: 3px;
  margin-left: 5px;
  font-size: 14px;
}

#navbarExtended .extended-module:hover {
  background: rgba(255, 255, 255, 0.1);
}

#navbarExtended .module-caption {
  text-transform: capitalize;
  display: inline-block;
  vertical-align: middle;
}

#menuNavigation {
  padding: 20px 0;
  font-family: Calibri;
  color: #636363;
  border-bottom: 1px solid #e6e6e6;
}

#menuNavigation .page-header {
  padding: 5px 0;
  font-family: Monda;
}

#menuNavigation .flex {
  display: flex;
}

#menuNavigation .flex li {
  color: #7f7f7f;
  padding: 5px 15px;
  cursor: pointer;
  margin: 0 0px 0 10px;
  line-height: 25px;
}

#menuNavigation .flex li:hover {
  background: #2babe2;
  color: white;
  border-radius: 5px;
}

#menuNavigation .flex li.active {
  background: #2babe2;
  color: white;
  border-radius: 5px;
}

.section-container {
  position: relative;
  overflow: hidden;
}

.checkbox {
  width: 14px;
  height: 14px;
  border: 1px solid #d9d9d9;
  background: white;
  display: block;
  cursor: pointer;
  position: relative;
  top: 1px;
  border-radius: 3px;
}

.checkbox:hover {
  border: 1px solid #86b71e;
}

.checkbox.active:after {
  content: "";
  height: 10px;
  display: block;
  width: 10px;
  background: #86b71e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.green {
  color: #86b71e !important;
}

.blue {
  color: #2babe2 !important;
}

#dashboardSummary {
  background: #f0f0f0;
  padding: 20px;
}

#dashboardSummary .panel-module {
  position: relative;
  transition: all .3s ease;
  top: 0;
  left: 0;
  font-family: Calibri;
  background: white;
  padding: 10px 15px 10px;
  width: 18%;
  text-align: center;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.2);
}

#dashboardSummary .panel-module .panel-title {
  color: #9f9f9f;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

#dashboardSummary .panel-module .panel-section {
  padding: 8px 0;
  position: relative;
}

#dashboardSummary .panel-module .value {
  color: #5a5a5a;
  font-family: Monda;
}

#dashboardSummary .panel-module .panel-caption {
  text-transform: uppercase;
  font-size: 15px;
  color: #9f9f9f;
}

#dashboardSummary .panel-module .panel-section.xsmall {
  font-size: 16px;
}

#dashboardSummary .panel-module .panel-section.small {
  font-size: 20px;
}

#dashboardSummary .panel-module .panel-section.med {
  font-size: 28px;
  line-height: 28px;
}

#dashboardSummary .panel-module .panel-section.large {
  font-size: 30px;
}

#dashboardSummary .panel-module.movable {
  transition: none;
  opacity: 0.7;
  transform: scale(0.9);
  z-index: 5;
}

#dashboardSummary .panel-module:hover {
  top: -10px;
  box-shadow: 0px 17px 16px -7px rgba(0, 0, 0, 0.2);
}

#dashboardSummary #panelSales {
  text-align: left;
}

.full-input {
  width: 100%;
  background: white;
  border: 1px solid #d5d5d5;
  padding: 7px 10px;
  resize: vertical;
  font-family: Calibri;
}

.border-btn {
  border: 1px solid #d5d5d5;
  background: white;
  color: #636363;
  font-family: Calibri;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.border-btn:hover {
  border: 1px solid #aaa;
}

#message {
  background-color: #f6f6f6;
  min-height: 100vh;
  padding: 20px;
  font-size: 14px;
  padding-bottom: 150px;
}

#message .no-img-msg {
  text-transform: uppercase;
}

#message .flex {
  flex-wrap: wrap;
}

#message .msg-toolbar {
  width: 100%;
  margin-bottom: 20px;
}

#message #msgSearch {
  width: 17%;
  padding-right: 30px;
}

#message #msgFunctions {
  display: inline-block;
  width: 63%;
}

#message .pagination {
  width: 20%;
  text-align: right;
}

#message .border-btn {
  display: inline-block;
}

#message .pagination {
  font-family: Calibri;
  color: #636363;
}

#message .pagination .range {
  margin: 0 3px;
}

#message .next-arrow {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#message .prev-arrow {
  margin-right: -3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#message .w20 {
  width: 17%;
  font-family: Calibri;
  padding-right: 30px;
}

#message #msgFolders {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 20px;
}

#message .msg-folder {
  color: #b1b1b1;
  padding: 8px 0;
  cursor: pointer;
  font-size: 15px;
}

#message .msg-folder.active {
  color: #7e7e7e;
  font-weight: bold;
}

#message .w80 {
  width: 83%;
  font-family: Calibri;
  position: relative;
}

#message .msg-flex {
  display: flex;
}

#message #msgList {
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.75, -0.12, 0.21, 0.96);
  right: 0;
  min-height: 665px;
  background: white;
}

#message #msgList.hide {
  transform: scale(0.9);
  opacity: 0;
  right: -100px;
}

#message .msg-divider {
  display: inline-block;
  padding: 7px 5px;
  cursor: pointer;
}

#message .msg-divider-sm {
  display: inline-block;
  padding: 7px 8px;
}

#message #msgHeader {
  background: #f2f2f2;
  text-transform: uppercase;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e4e4e4;
  color: #9f9f9f;
  font-size: 15px;
  padding: 0;
  border-right: white;
}

#message .msg-row {
  color: #626262;
  text-transform: capitalize;
  padding: 5px 0;
  background: white;
  border-bottom: 1px solid #e4e4e4;
  border-right: 2px solid #eee;
  position: relative;
  background: #eee;
  transition: border .2s ease;
}

#message .msg-row.unread {
  font-weight: bold;
  background: white;
  border-right: 2px solid white;
}

#message .msg-row.unread:after {
  content: "";
  height: 3px;
  width: 3px;
  right: 0;
  top: 0;
  background: #86b71e;
  border-radius: 50%;
}

#message .msg-row:hover {
  background: #f6f6f6;
  border-right: 2px solid #2babe2;
}

#message .msg-row.marked {
  border-right: 10px solid #86b71e;
}

#message .msg-row.marked .checkbox:after {
  content: "";
  height: 9px;
  display: block;
  width: 9px;
  background: #86b71e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
}

#message .msg-divider.type {
  width: 25%;
}

#message .msg-divider.sender {
  width: 20%;
}

#message .msg-divider.lMsg {
  width: 35%;
}

#message .msg-header.cMsg {
  color: #86b71e;
}

#message .msg-header.notif {
  color: #f43939;
}

#message .msg-header.oMsg {
  color: #2babe2;
}

#msgDetail {
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 200%;
  width: 100%;
  z-index: 5;
  background: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: left 0.5s cubic-bezier(0.75, -0.12, 0.21, 0.96), opacity 0.2s ease;
  opacity: 0;
}

#msgDetail .msg-username {
  color: #626262;
  display: inline-block;
}

#msgDetail .history-date {
  color: #bcbcbc;
  font-size: 12px;
  text-transform: lowercase;
}

#msgDetail .msgTitle {
  padding: 15px 20px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 16px;
  cursor: pointer;
  background: #f2f2f2;
}

#msgDetail #msgDetailHistory {
  background: white;
  padding: 10px 10px 10px 20px;
  max-height: 614px;
  overflow: auto;
}

#msgDetail .chat-buble {
  background: #eeeeee;
  padding: 15px 15px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  max-width: 85%;
  line-height: 23px;
}

#msgDetail .no-img-msg {
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  padding: 5px 0;
  font-family: Monda;
  color: white;
  font-size: 12px;
  display: inline-block;
}

#msgDetail .history-header {
  min-height: 35px;
  padding: 10px 0;
  position: relative;
}

#msgDetail .history-group {
  margin-bottom: 10px;
  position: relative;
}

#msgDetail .history-group.client .history-date {
  position: absolute;
  bottom: 0;
  min-width: 100px;
  right: -110px;
}

#msgDetail .history-group.client .chat-buble:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 7px;
  height: 15px;
  width: 15px;
  background: #eee;
  transform: rotateZ(45deg);
}

#msgDetail .history-group.admin {
  text-align: right;
}

#msgDetail .history-group.admin .history-date {
  position: absolute;
  bottom: 0;
  min-width: 100px;
  left: -110px;
}

#msgDetail .history-group.admin .chat-buble:after {
  content: "";
  position: absolute;
  top: -5px;
  right: 7px;
  height: 15px;
  width: 15px;
  background: #eee;
  transform: rotateZ(45deg);
}

#msgDetail.active {
  left: 0;
  opacity: 1;
}

#historyReply {
  background: #eee;
  padding: 15px;
  position: relative;
  width: 100%;
  top: 100px;
  transform-origin: top right;
  justify-content: space-between;
  display: flex;
  border: 1px solid #e4e4e4;
  border-top: 1px solid white;
  transform: rotateZ(-30deg);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, -0.38, 0.04, 1.17);
}

#historyReply .tall {
  min-height: 80px;
}

#historyReply .full-input {
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  height: 33px;
  width: 90%;
  vertical-align: top;
  padding-bottom: 0;
}

#historyReply .reply-btn {
  background: #86b71e;
  cursor: pointer;
  height: 33px;
  vertical-align: bottom;
  border-radius: 10px;
  width: 9%;
  align-self: flex-end;
}

#historyReply.active {
  top: 0;
  opacity: 1;
  transform: rotate(0);
}
